

img {
  height: 1.5rem;
  display: flex;
  align-items: left;
}

.navbar-brand {
  margin-left: auto;
}

span {
  padding: 10px;
  color:rgb(237, 54, 112);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 123, 0);
}